{% extends "templates/web.html" %}

{% block page_content %}
<div id="ecopanbot-react-root" style="height: 80vh; display: flex; flex-direction: column;">
    <p>Loading Chat...</p>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="/assets/ecopan_bot/js/ecopanbot_ui.bundle.js"></script>
<script>
frappe.require("/assets/ecopan_bot/js/ecopanbot_ui.bundle.js").then(() => {
    if (ecopanbot && ecopanbot.ui && ecopanbot.ui.ecopanBotUI) {
        new ecopanbot.ui.ecopanBotUI({
            wrapper: $("#ecopanbot-react-root").get({ page_name: "chatbot" }),
        });
    } else {
        console.error("ecopanBotUI not found after loading bundle.");
    }
    });
</script>
{% endblock %}

{% block style %}
{{ super() }}
<style>
    /* Eventuali stili aggiuntivi specifici per questa pagina */
    /* Assicurati che l'altezza del contenitore funzioni bene con ChakraProvider */
</style>
{% endblock %}